@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    --color-theme: #6c5ce7;
    --color-completed: #f56c6c;
    --color-serializing: #409eff;
    --color-toBeUpdated: #FFD547;
}